@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Nuestra Marca significa (Reparación Natural), busca ayudar a las personas a minimizar el consumo de azúcar en su alimento.</p>
<p>Tenemos como propósito mejorar la calidad de vida de las personas, ofreciendo un producto muy saludable y sino contenido de azúcar ni preservantes.</p>
<p>Nuestro lema es que las personas sigan disfrutando de lo que les gusta sin tener que preocuparse por el consumo de azúcar del producto.</p>
